{% for post in posts %}

<div class="card bg-light my-3 shadow-sm p-5">
    <img class="card-img-top" src="" alt="article picture">
    <div class="card-body">
        <h5 name='title' class="card-title"><a class="text-dark"
                href="{{url_for('render_post', id=post.id)}}">{{post.title}}</a></h5>
        <p name='body' class=" card-text">{{post.body}}</p>
    </div>
    <div class="container d-flex flex-row justify-content-center">
        <form method="POST" action="{{url_for('delete_post', id=post.id)}}">
            <button class="btn btn-danger btn-small mr-2" type="submit">Delete</button>
        </form>
        <form method="POST" action="">
            <button class="btn btn-success btn-small ml-2" type="submit">Update</button>
        </form>
        {% if current_user.like_post %}
        <form method="POST" action="{{url_for('like_post_on_board', id=post.id)}}">
            <button class="btn btn-primary btn-small ml-2" type="submit">Unlike</button>
        </form>
        {% else %}
        <form method="POST" action="{{url_for('like_post_on_board', id=post.id)}}">
            <button class="btn btn-primary btn-small ml-2" type="submit">Like</button>
        </form>
        {% endif %}
        <p>likes {{post.my_likes | length }}</p>
    </div>
</div>
{% endfor %}